/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #f3f6f6 !default;
$text-color: #666 !default;
$muted-text-color: #333 !default;
$primary-color: #333 !default;
$border-color: mix(#fff, #333, 75%) !default;
$footer-background-color: #bfd9d7 !default; //바꿈
$link-color: #333 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
$color-333 : #333 !default;

.page__footer {
  color: #333 !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
